---
import Social from "./Social.astro";
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<div>
    <hr />
    <footer>
        <Social platform="twitter" username="econmang" />
        <Social platform="github" username="econmang" />
    </footer>
</div>
